.casa{
    border: 1px solid #F2F3D9;
    width: 30%;
    margin: 8px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
}