.container{
    margin: 80px auto;
    text-align: center;
    color: #fff;
}
.casas{
    margin: 80px auto;
    width: 50%;
    border: 4px solid #fff;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    flex-wrap: wrap;
}